body {
    margin: 0;
    padding: 0;
}


.intro-hello {
    color: #66BFBF;
    font-family: 'Rubik', sans-serif;
    font-size: 2.5rem;
}

.intro-heading {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    padding-top: 8rem;
    margin: 0px 0px;
}

.intro-description {
    color: #66BFBF;
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
}

span {
    text-decoration: underline;
}

body {
    text-align: center;
}

.bottom-cloud {
    position: absolute;
    bottom: 20rem;
    left: 23rem;
}

.top-cloud {
    position: absolute;
    top: 1.5rem;
    right: 23rem;

}

.mountain-img {
    margin-top: 3rem;
    width: 60vw;
    height: 51vh;
}

.top-container {
    background-color: #EAF6F6;
}

.middle-container {
    /* padding: 50px 0px; */
}

.profile-picture {
    height: 200px;
    width: 170px;
    border-radius: 100%;
    padding: 60px 0px 30px 0px;
}

.passion {
    color: #40514E;
    font-size: 1.2rem;
    width: 50%;
    margin: 0px auto;
}

hr {
    margin: 90px auto;
    width: 4%;
    border-style: dotted;
    border-bottom: none;
    border-width: 9px;
    border-color: #97a2a2;
}

.skill-heading {
    color: #66BFBF;
    font-family: 'Rubik', sans-serif;
    font-size: 2.5rem;
}

h3 {
    color: #11999E;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;


}

.skill1-img {
    width: 180px;
    height: 180px;
    float: left;
    margin-right: 25px;

}

.skill1-heading {
    text-align: left;
    margin-bottom: 10px;
}

.bottom-container {
    width: 60%;
    margin: auto auto;
}

.skill-description {
    color: #40514E;
    font-size: 1.2rem;
    margin-top: 0px;
    line-height: 30px;
    text-align: left;
}

.skill-1 {
    padding: 40px 0px;
}

.skill2-img {
    width: 160px;
    height: 160px;
    float: right;
    margin-left: 40px;
    border-radius: 100%;
}

.skill2-heading {
    text-align: left;
    margin-bottom: 10px;
}

.skill2-description {
    color: #40514E;
    font-size: 1.2rem;
    margin-top: 0px;
    line-height: 30px;
    text-align: left;
}

.skill-2 {
    padding: 40px 0px;
}
.get-in{
    padding-top: 20px;
}

.getin-description {
    padding-top: 20px;
    font-size: 1.2rem;
    line-height: 30px;
    margin-bottom: 0;
}








.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#11999E;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b1dae8;
    margin: 90px 0px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#11999E;
}
.myButton:active {
	position:relative;
	top:1px;
}

footer{
    background-color: #66BFBF ;
    height: 140px;
    padding-top: 50px;
}
.copyright{
    color: #EAF6F6;
    margin-top: 80px;
}
.social-links a{
    text-decoration: none;
    color: #11999E;
    margin: 0px 30px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
}
.social-links a:hover{
    color: white;
}
html {
    scroll-behavior: smooth;
}

/* .greeting-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
}

.greeting {
    font-size: 40px;
    
    opacity: 0;
    animation: fadeInOut 4s infinite;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
} */